@using DesafioHappe.Models
@model DesafioHappe.Models.MenusForUser
@{
    ViewBag.Title = "MenusForUserForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MenusForUserForm</h2>

@*@using (Html.BeginForm("CreateMenus", "MenusForUsers"))
{
    @for (var i = 0; i < Model.ItensSideMenuMarket..Count();i++ )
     {
         @Html.HiddenFor(model => model.UserRoles[i].RoleID)
         @Html.CheckBoxFor(model => model.UserRoles[i].Selected)
         @Html.LabelFor(model => model.UserRoles[i].Name)
     }
}

@ViewBag.Itens*@

<div class="form-horizontal">
    @*<h4>Select your favourite Subjects</h4>
        @foreach (var item in )
        {
            <input id="chk@(item.Value)"
                   type="checkbox"
                   value="@item.Value"
                   checked="@item.IsChecked" />
            @item.Name <br />
        }

        @Html.CheckBoxFor(m => m.Ativo, new { @checked = "checked" });*@

</div>

